<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('showIndex') }}">Catalog App</a>

    <div class="">
      <ul class="navbar-nav mr-auto">
        {% if 'username' in session %}
        <li>
          <a class="nav-item navbar-brand" href="#">
            <img src="{{session['picture']}}" width="30" height="30" class="d-inline-block align-top" alt="">
            {{session['username']}}
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('showLogin') }}">Log In</a>
        {% endif %}
      </ul>
    </div>
  </nav>
  <section class="content">
    <div class="jumbotron">
      <div class="container">
        {% block header %}{% endblock %}
      </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>  
</body>