{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{item.name}} in  the category of {{category.name}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h4>Item specifications:</h3>
    <div class="ml-5">
      <h5>Creation time: {{item.creation_time}}</h2>
      <h5>Description:</h2>
      <p class="ml-5">{{item.description}}</p>  
    </div>
    {% if 'username' in session %}
    <a href={{url_for('deleteItem', item_id=item.id)}}>
      <button type="button" class="btn btn-danger">Delete Item</button>
    </a>
    <a href={{url_for('editItem', item_id=item.id, item_name=item.name )}}>
      <button type="button" class="btn btn-info">Edit Item</button>
    </a>
    {% endif %}
</div>
{% endblock %}